/* src/assets/Challenges.css */
.challenges {
    text-align: center;
    background-color: #EDFFDE;
    padding: 20px;
  }
  
  .challenges h1 {
    color: #333;
  }
  
  .challenges a {
    text-decoration: none;
    color: blue;
  }
  
  .challenges a:hover {
    color: darkblue;
  }
  