/* src/assets/Game.css */
.game {
    text-align: center;
    background-color: #EDFFDE;
    padding: 20px;
  }
  
  .game h1 {
    color: #333;
  }
  
  .game button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .game button:hover {
    background-color: #000;
    color: #fff;
    animation: vibrate 0.2s;
  }
  
  @keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
  